<template lang="pug">
.catalog
  Warning  
  .catalog__grid
    CatalogCard(v-for="item in catalog" :key="item.id" :data='item')
</template>

<script>
export default {
  data() {
    return {
      catalog: [
        {
          image: '/img/catalog-card-1.jpg',
          title: 'Проекты бань',
          text: 'Принимая во внимание показатели успешности, консультация с широким активом способствует повышению качества экспериментов, поражающих по своей масштабности и грандиозности.',
        },
        {
          image: '/img/catalog-card-2.jpg',
          title: 'Проекты домов',
          text: 'Принимая во внимание показатели успешности, консультация с широким активом способствует повышению качества экспериментов, поражающих по своей масштабности и грандиозности.',
        },
        {
          image: '/img/catalog-card-3.jpg',
          title: 'Виды срубов',
          text: 'Принимая во внимание показатели успешности, консультация с широким активом способствует повышению качества экспериментов, поражающих по своей масштабности и грандиозности.',
        },
        {
          image: '/img/catalog-card-4.jpg',
          title: 'Беседки',
          text: 'Принимая во внимание показатели успешности, консультация с широким активом способствует повышению качества экспериментов, поражающих по своей масштабности и грандиозности.',
        },
        {
          image: '/img/catalog-card-1.jpg',
          title: 'Проекты бань',
          text: 'Принимая во внимание показатели успешности, консультация с широким активом способствует повышению качества экспериментов, поражающих по своей масштабности и грандиозности.',
        },
        {
          image: '/img/catalog-card-2.jpg',
          title: 'Проекты домов',
          text: 'Принимая во внимание показатели успешности, консультация с широким активом способствует повышению качества экспериментов, поражающих по своей масштабности и грандиозности.',
        },
        {
          image: '/img/catalog-card-3.jpg',
          title: 'Виды срубов',
          text: 'Принимая во внимание показатели успешности, консультация с широким активом способствует повышению качества экспериментов, поражающих по своей масштабности и грандиозности.',
        },
        {
          image: '/img/catalog-card-4.jpg',
          title: 'Беседки',
          text: 'Принимая во внимание показатели успешности, консультация с широким активом способствует повышению качества экспериментов, поражающих по своей масштабности и грандиозности.',
        },
      ],
    }
  },
}
</script>

<style src='./catalog.scss' lang="scss">
</style>