<template lang="pug">
.faq
  .faq__list
    Accordion(v-for="item in faq" :key="item.id" :data='item') 
</template>

<script>
export default {
  data() {
    return {
      faq: [
        {
          question: 'Как купить у вас товар?',
          answer: 'Лишь некоторые особенности внутренней политики в равной степени предоставлены сами себе. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.',
        },
        {
          question: 'Какие сроки выполнения работ?',
          answer: 'Лишь некоторые особенности внутренней политики в равной степени предоставлены сами себе. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.',
        },
        {
          question: 'Какой гарантийный срок на бани от вашей компании?',
          answer: 'Лишь некоторые особенности внутренней политики в равной степени предоставлены сами себе. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.',
        },
        {
          question: 'Какая форма оплаты?',
          answer: 'Лишь некоторые особенности внутренней политики в равной степени предоставлены сами себе. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.',
        },
        {
          question: 'Стоимость и сроки доставки в регионы?',
          answer: 'Лишь некоторые особенности внутренней политики в равной степени предоставлены сами себе. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.',
        },
        {
          question: 'Можете ли вы предоставить сертификаты на продукцию и другие документы?',
          answer: 'Лишь некоторые особенности внутренней политики в равной степени предоставлены сами себе. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.',
        },
      ],
    }
  },
}
</script>

<style src='./faq.scss' lang="scss">
</style>