<template lang='pug'>
.advantages
  p.advantages__text Таким образом, сложившаяся структура организации предоставляет широкие возможности для инновационных методов управления процессами. Не следует, однако, забывать, что глубокий уровень погружения однозначно фиксирует необходимость прогресса профессионального сообщества. Господа, высокое качество позиционных исследований играет важную роль в формировании форм воздействия. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: реализация намеченных плановых заданий однозначно определяет каждого участника как способного принимать собственные решения касаемо укрепления моральных ценностей. Являясь всего лишь частью общей картины, ключевые особенности структуры проекта, вне зависимости от их уровня, должны быть своевременно верифицированы. Но стремящиеся вытеснить традиционное производство, нанотехнологии лишь добавляют фракционных разногласий и рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
  .advantages__list
    .advantages__item
      img.advantages__icon(src='/icons/advantage-1.svg')
      p.advantages__text Многолетний опыт работы 
    .advantages__item
      img.advantages__icon(src='/icons/advantage-2.svg')
      p.advantages__text Нами были успешно выполнены более 1000 проектов
    .advantages__item
      img.advantages__icon(src='/icons/advantage-3.svg')
      p.advantages__text Сборка на месте в срок от 3 до 5 дней
    .advantages__item
      img.advantages__icon(src='/icons/advantage-4.svg')
      p.advantages__text В нашей команде работает 9 русских бригад
</template>

<script>
export default {
  
  computed: {
    path() {
      return this.$route.fullPath
    },
  }
}
</script>

<style lang='scss' src='./advantages.scss'></style>