.advantages {
  &__text {
    font-size: 18px;
    line-height: 23px;
    color: $color-text;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 144px;
    margin-top: 56px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    margin-bottom: 32px;
  }
}
