.form {
  display: flex;
  flex-direction: column;
  width: 630px;

  &__item {
    & + & {
      margin-top: 32px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 31px;
    color: $brown;
    margin-bottom: 16px;
  }

  &__input {
    width: 100%;
    background: $gold-light;
    border-radius: 15px;
    padding: 20px 40px;
    color: $brown;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid $gold-light;

    &::placeholder {
      color: #6e5d52;
    }

    &:focus {
      border: 1px solid #6e5d52;
      outline: none;
    }

    &.textarea {
      height: 280px;
    }
  }

  &__button {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: $gold-light;
    background-color: $brown;
    border-radius: 15px;
    margin-top: 48px;
  }
}
