@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-feature-settings: 'salt' on;
}

body {
  @include text-md;

  background: $color-grey-100;
  color: $color-grey-900;
  font-family: 'Lora', sans-serif;
  font-weight: normal;
}

#app {
  min-height: 100vh;
  min-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: calc(100vh - 132px);

  &.loading {
    min-height: 200vh;
    opacity: 0;
  }
}

a {
  @include link-base;

  transition: all $transition-duration-base;
}

a,
button {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button {
  transition: color $transition-duration-base,
    background-color $transition-duration-base, border $transition-duration-base;

  &:not(:focus-visible) {
    outline: none;
  }
}

button,
input,
select,
textarea {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
}

input[type='search'] {
  -webkit-appearance: none;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

// Remove Arrows/Spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

select {
  border-radius: 0;

  &::-ms-expand {
    // IE11
    display: none;
  }
}

textarea {
  resize: none;
}

hr {
  border: none;
}

iframe {
  border: none;
}

img {
  max-width: 100%;

  &[width],
  &[height] {
    max-width: none;
  }
}

figure {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

small {
  @include text-sm;
}

svg {
  vertical-align: top;
  transition: all $transition-duration-base;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:disabled {
  cursor: not-allowed;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.no-overflow {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

// .container {
//   @include container();

//   flex: 1 1 auto;

//   &_white {
//     background-color: $color-grey-0;
//   }

//   &_last {
//     padding-bottom: 12rem;

//     @include mq-max(lg) {
//       padding-bottom: 10.4rem;
//     }

//     @include mq-max(md) {
//       padding-bottom: 9.6rem;
//     }
//   }
// }

.veil {
  transition: all $transition-duration-base;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: rgba($color-grey-900, 0.25);
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.page {
  // $this: &;
  // overflow: hidden;
  // display: flex;
  // flex-direction: column;
  // max-width: 1920px;
  // min-width: $minwidth;
  // min-height: 100vh;
  // margin: auto;
  // position: relative;
  // z-index: $layer-1;
  // background-color: $white;

  // &__header {
  //   flex-shrink: 0;
  // }

  // &__content {
  //   position: relative;
  //   z-index: 2;
  // }

  // &__content,
  // &__body,
  // &__footer {
  //   flex-grow: 1;
  // }

  // &__footer {
  //   flex-grow: 0;
  //   flex-shrink: 0;
  // }

  &__seo-text {
    font-size: 26px;
    line-height: 33px;
    color: $brown;
    max-width: 1060px;

    &+& {
      margin-top: 64px;
    }
  }
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1280px + 160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  z-index: 10;
  position: relative;
}

.container-brown {
  background: rgba(75, 38, 29, 0.85);
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;

  &__smoke {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
