<template lang="pug">
  .about-main
    img.about-main__image(src='/img/about-image.jpg')
    .about-main__content
      p.about-main__text Наша компания изготавливает и устанавливает качественные срубы бань и домов, доставляет их заказчикам в Смоленской, Московской, Курской, Ленинградской, Калужской, Брянской, Псковской, Орловской областях и в других регионах России. Мы оказываем услуги возведения и отделки построек из хвойной древесины «под ключ». Наши специалисты выполняют строительные, монтажные, отделочные, электротехнические и сантехнические работы.
      br
      p.about-main__text Так как наша компания - непосредственный производитель срубов, мы тщательно контролируем качество материалов, изделий, работ. Поставляем клиентам экологически чистый, лучший в центральной России лес без переплат по ценам роизводителя. Наша стройплощадка находится в экологически чистом городе Велиж на границе Смоленской и Псковской областей. 
</template>



<style src='./about-main.scss' lang="scss">

</style>