<template lang="pug">
  .footer
    .container
      .footer__content
        h2.footer__title Свяжитесь с нами
        .footer__container
          a.footer__text(href='tel:+7(495)-111-11-11') +7(495)-111-11-11
          a.footer__text(href='mailto:poznanie@mail.ru') poznanie@mail.ru
          p.footer__text.unlinked Мы в социальных сетях
          .footer__socials
            a.footer__social(href='/')
              img(src='/icons/facebook.svg')
            a.footer__social(href='/')
              img(src='/icons/telegram.svg')
            a.footer__social(href='/')
              img(src='/icons/instagram.svg')

</template>



<style src='./footer.scss' lang="scss">

</style>