.product {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__specifications {
    display: flex;
    flex-direction: column;
  }

  &__specification {
    display: flex;
    flex-direction: column;
    & + & {
      margin-top: 32px;
    }
  }

  &__name {
    font-size: 22px;
    line-height: 28px;
    color: $brown;
    &.black {
      color: black;
    }
  }

  &__value {
    color: $brown;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-top: 16px;

    &.black {
      color: black;
    }

    &.big {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 24px;
    }
  }

  &__characteristics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  &__button {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: $gold-light;
    background-color: $brown;
    border-radius: 15px;
    margin-top: 40px;

    &:hover {
      color: $brown;
      background-color: $gold-light;
    }
  }

  &__tabs {
    display: flex;
    margin-top: 80px;
  }

  &__tab {
    flex-shrink: 0;
    width: 310px;
    font-size: 24px;
    line-height: 31px;
    font-weight: normal;
    color: $brown;
    padding-bottom: 8px;
    transition: color 0.3s ease, background-color 0.3s ease;
    background-color: $gold-light;
    padding: 26px 0;
    display: flex;
    justify-content: center;
    border-radius: 15px;

    & + & {
      margin-left: 32px;
    }

    &:hover {
      color: $gold-light;
      background-color: $brown;
    }

    &.active {
      color: $gold-light;
      background-color: $brown;
    }
  }

  &__wysiwyg {
    display: flex;
    flex-direction: column;
    margin-top: 64px;

    &.brown {
      padding: 42px 109px;
      background-color: $brown;
    }
  }

  h2 {
    font-size: 32px;
    line-height: 41px;
    color: $brown;
  }
}
