<template lang="pug">
ul.nav
  li.nav__item
    nuxt-link.nav__link(to='/') Главная
  li.nav__item
    nuxt-link.nav__link(to='/catalog') Каталог
  li.nav__item
    nuxt-link.nav__link(to='/') Портфолио
  li.nav__item
    nuxt-link.nav__link(to='/') Цены
  li.nav__item
    nuxt-link.nav__link(to='/') Акции
  li.nav__item
    nuxt-link.nav__link(to='/') Отзывы
  li.nav__item
    nuxt-link.nav__link(to='/') Контакты
</template>

<script>

</script>

<style src='./nav.scss' lang="scss">

</style>