.catalog-card {
  $this: &;
  display: flex;
  flex-direction: column;
  background-color: $gold-light;
  border-radius: 15px;
  transition: background-color 0.5s ease;
  cursor: pointer;
  width: 304px;

  &:hover {
    background-color: $brown;

    #{$this}__image {
      transform: scale(1.1);
    }

    #{$this}__title {
      color: $gold-light;
      opacity: 0.8;
    }

    #{$this}__text {
      color: white;
    }
  }

  &__cover {
    flex-shrink: 0;
    width: 304px;
    height: 304px;
    border-radius: 15px;
    overflow: hidden;
  }

  &__image {    
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }

  &__container {
    padding: 32px 24px;
  }

  &__title {
    font-size: 26px;
    line-height: 33px;
    color: $brown;
    margin-bottom: 24px;
    transition: color 0.5s ease;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    color: $brown;
    transition: color 0.5s ease;
  }
}
