<template lang="pug">
  .warning 
    p.warning__text Важно! В проектах указаны площадь и параметры высоты, длины и ширины по замерам внутреннего периметра. Это отличает наш подход к делу от других производителей. Вы платите только за то, чем пользуетесь!  
</template>

<script>
export default {
 
}
</script>

<style src='./warning.scss' lang="scss">
</style>